<div class="love-form">
    <div class="container">
        <div class="row">
          <h2 class="no-wrap title-center">Love Calculator By Name </h2>
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input placeholder="Your Name" type="text" formControlName="yourName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.yourName.errors }" />
                        <div *ngIf="submitted && f.yourName.errors" class="invalid-feedback">
                            <div *ngIf="f.yourName.errors.required">Your Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input placeholder="Your Partner Name" type="text" formControlName="partnerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partnerName.errors }" />
                        <div *ngIf="submitted && f.partnerName.errors" class="invalid-feedback">
                            <div *ngIf="f.partnerName.errors.required">Your Partner Name is required</div>
                        </div>
                    </div>
                   
                    <div class="form-group text-center">
                        <button class="btn btn-danger">Get Love Percentage</button>
                    </div>
                    <p class="text-center no-wrap">Love Score is {{love}} <span>%</span></p>
                </form>
            </div>
        </div>
    </div>
</div>
